import pymango library และสร้าง  Connection ระหว่าง  MongoDBServer  และ  Python

In [1]:
import pymongo
client = pymongo.MongoClient('mongodb://localhost:27017/')

สร้างฐานข้อมูล  Employee

In [2]:
mydb = client['Employee']

สร้าง collection  ของ ‘employee information’ ใน ‘ Employee’ db

In [3]:
empinfo = mydb.employeeinformation

เพิ่ม  document ใน collection โดยใช้  insert_one()

In [4]:
record = {
    'firstname' : 'Rii',
    'lastname' : 'Nani',
    'department' : 'Analytics',
    'qualification' : 'MS',
    'age' : 25
}
empinfo.insert_one(record)

InsertOneResult(ObjectId('655b39a3c17d1176a3d5fa2b'), acknowledged=True)

เพิ่มหลาย  record โดยใช้ inser_many()

In [5]:
records = [{
    'firstname' : 'Leo',
    'lastname' : 'Doe',
    'department' : 'Analytics',
    'qualification' : 'Statistics',
    'age' : 35
},
{
    'firstname' : 'Scotch',
    'lastname' : 'Smith',
    'department' : 'Analytics',
    'qualification' : 'Masters',
    'age' : 30
},
{
    'firstname' : 'Olive',
    'lastname' : 'Sen',
    'department' : 'Analytics',
    'qualification' : 'PhD',
    'age' : 34
},
{
    'firstname' : 'Sam',
    'lastname' : 'Singh',
    'department' : 'Analytics',
    'qualification' : 'Master',
    'age' : 35
}]

ส่งผ่าน  record (object) โดยใช้  insert_many()

In [6]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('655b3ae9c17d1176a3d5fa2c'), ObjectId('655b3ae9c17d1176a3d5fa2d'), ObjectId('655b3ae9c17d1176a3d5fa2e'), ObjectId('655b3ae9c17d1176a3d5fa2f')], acknowledged=True)

ค้นหาโดยใช้คำสั่ง find_one()

In [7]:
empinfo.find_one()

{'_id': ObjectId('655b39a3c17d1176a3d5fa2b'),
 'firstname': 'Rii',
 'lastname': 'Nani',
 'department': 'Analytics',
 'qualification': 'MS',
 'age': 25}

ค้นหาทุก record

In [8]:
for record in empinfo.find():
    print(record)

{'_id': ObjectId('655b39a3c17d1176a3d5fa2b'), 'firstname': 'Rii', 'lastname': 'Nani', 'department': 'Analytics', 'qualification': 'MS', 'age': 25}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2c'), 'firstname': 'Leo', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'Statistics', 'age': 35}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2d'), 'firstname': 'Scotch', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'Masters', 'age': 30}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2f'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'Master', 'age': 35}

ค้นหา JSON document  ที่ตรงตามเงื่อนไข

In [9]:
for record in empinfo.find({'firstname':'Olive'}):
    print(record)

{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}

ค้นหาโดยใช้  Query Operators
$in (Matches any of the values in an array)
$lt (Less than)
$gt (Greater than)
AND 
OR

In [11]:
for record in empinfo.find({'qualification':{'$in':['PhD','Master']}}):
    print(record)

{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2f'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'Master', 'age': 35}

In [15]:
for record in empinfo.find({'qualification': 'Masters','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('655b3ae9c17d1176a3d5fa2d'), 'firstname': 'Scotch', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'Masters', 'age': 30}

In [16]:
for record in empinfo.find({'age':{'$gt':25}}):
    print(record)

{'_id': ObjectId('655b3ae9c17d1176a3d5fa2c'), 'firstname': 'Leo', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'Statistics', 'age': 35}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2d'), 'firstname': 'Scotch', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'Masters', 'age': 30}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2f'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'Master', 'age': 35}

In [18]:
for record in empinfo.find({'$and':[{'firstname':'Sam'}, {'qualification':'Master'}]}):
    print(record)

{'_id': ObjectId('655b3ae9c17d1176a3d5fa2f'), 'firstname': 'Sam', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'Master', 'age': 35}

In [19]:
for record in empinfo.find({'$or':[{'firstname':'Olive'}, {'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}

ทำงานกับ  Nested JSON documents

สร้าง  'inventory' collection  ใน  'Employee' database

In [21]:
inventory = mydb.inventory

เพิ่ม JSON  documents และ Nested JSON documents

In [25]:
inventory.insert_many([
    {'item':"journal",'qty':25,'size':{'h':14,'w':21,'uom':"cm"},'status':"A"},
    {'item':"notebook",'qty':50,'size':{'h':8.5,'w':11,'uom':"in"},'status':"A"},
    {'item':"paper",'qty':100,'size':{'h':8.5,'w':11,'uom':"in"},'status':"D"},
    {'item':"planner",'qty':75,'size':{'h':22.05,'w':30,'uom':"cm"},'status':"D"},
    {'item':"postcard",'qty':45,'size':{'h':10,'w':15.25,'uom':"cm"},'status':"A"}
])

InsertManyResult([ObjectId('655b468cc17d1176a3d5fa3f'), ObjectId('655b468cc17d1176a3d5fa40'), ObjectId('655b468cc17d1176a3d5fa41'), ObjectId('655b468cc17d1176a3d5fa42'), ObjectId('655b468cc17d1176a3d5fa43')], acknowledged=True)

ค้นหา  Nested JSON documents

In [26]:
for records in inventory.find({'size':{'h': 14, 'w':21, 'uom':"cm" }}):
    print(record)

{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}
{'_id': ObjectId('655b3ae9c17d1176a3d5fa2e'), 'firstname': 'Olive', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'PhD', 'age': 34}

๊Update JSON Documents
update_one()
update_many()
replace_one()

In [30]:
import pymongo
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
mydb = client['Employee']
inventory = mydb.inventory

In [31]:
inventory.insert_many([
    {"item":"canvas",
    "qty":100,
    "size":{"h":28,"w":35.5,"uom":"cm"},
    "status":"A"},
    {"item":"journal",
    "qty":25,
    "size":{"h":14,"w":21,"uom":"cm"},
    "status":"A"},
    {"item":"mat",
    "qty":85,
    "size":{"h":27.9,"w":35.5,"uom":"cm"},
    "status":"A"},
    {"item":"mousepad",
    "qty":25,
    "size":{"h":19,"w":22.85,"uom":"cm"},
    "status":"P"},
    {"item":"notebook",
    "qty":50,
    "size":{"h":8.5,"w":11,"uom":"in"},
    "status":"P"},
    {"item":"paper",
    "qty":100,
    "size":{"h":8.5,"w":11,"uom":"in"},
    "status":"D"},
    {"item":"Planner",
    "qty":75,
    "size":{"h":22.85,"w":30,"uom":"cm"},
    "status":"D"},
    {"item":"postcard",
    "qty":45,
    "size":{"h":10,"w":15.25,"uom":"cm"},
    "status":"A"},
    {"item":"sketchbook",
    "qty":80,
    "size":{"h":14,"w":21,"uom":"cm"},
    "status":"A"},
      {"item":"sketchpad",
    "qty":95,
    "size":{"h":22.85,"w":30.5,"uom":"cm"},
    "status":"A"}
])

InsertManyResult([ObjectId('655b4e85c17d1176a3d5fa45'), ObjectId('655b4e85c17d1176a3d5fa46'), ObjectId('655b4e85c17d1176a3d5fa47'), ObjectId('655b4e85c17d1176a3d5fa48'), ObjectId('655b4e85c17d1176a3d5fa49'), ObjectId('655b4e85c17d1176a3d5fa4a'), ObjectId('655b4e85c17d1176a3d5fa4b'), ObjectId('655b4e85c17d1176a3d5fa4c'), ObjectId('655b4e85c17d1176a3d5fa4d'), ObjectId('655b4e85c17d1176a3d5fa4e')], acknowledged=True)

Use '$set' opertor to update/add records
Use '$currentDate' opertor to add datetime variable

update_one()

In [36]:
inventory.update_one(
    {"item":"sketchpad"},
    {"$set":{"size.uom":"m","status":"P"}, "$currentDate":{"lastModified":True}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

update_many()

In [37]:
for record in inventory.find({'qty':{'$lt':50}}):
    print(record)

{'_id': ObjectId('655b4637c17d1176a3d5fa30'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b4637c17d1176a3d5fa34'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b4656c17d1176a3d5fa35'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b4656c17d1176a3d5fa39'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b4661c17d1176a3d5fa3a'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b4661c17d1176a3d5fa3e'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b468cc17d1176a3d5fa3f'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b468cc17d1176a3d5fa43'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b4e85c17d1176a3d5fa46'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('655b4e85c17d1176a3d5fa48'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('655b4e85c17d1176a3d5fa4c'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

replace_one()

In [39]:
for record in inventory.find({'item':'paper'}):
    print(record)

{'_id': ObjectId('655b4637c17d1176a3d5fa32'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('655b4656c17d1176a3d5fa37'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('655b4661c17d1176a3d5fa3c'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('655b468cc17d1176a3d5fa41'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('655b4e85c17d1176a3d5fa4a'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}

In [44]:
inventory.replace_one(
    {"item":"paper"},
    {"item":"paper", "instock":[{"warehouse":"A","qty":60}, {"warehouse":"B","qty":40}]})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

create a dataframe using pandas for MongoDB Collection

In [46]:
import pandas as pd
md_df = pd.DataFrame(list(inventory.find({})))
md_df

,_id,item,qty,size,status,instock,lastModified
0,655b4637c17d1176a3d5fa30,journal,25.0,"{'h': 14, 'w': 21, 'uom': 'cm'}",A,NaN,NaT
1,655b4637c17d1176a3d5fa31,notebook,50.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",A,NaN,NaT
2,655b4637c17d1176a3d5fa32,paper,NaN,NaN,NaN,"[{'warehouse': 'A', 'qty': 60}, {'warehouse': ...",NaT
3,655b4637c17d1176a3d5fa33,planner,75.0,"{'h': 22.05, 'w': 30, 'uom': 'cm'}",D,NaN,NaT
4,655b4637c17d1176a3d5fa34,postcard,45.0,"{'h': 10, 'w': 15.25, 'uom': 'cm'}",A,NaN,NaT
5,655b4656c17d1176a3d5fa35,journal,25.0,"{'h': 14, 'w': 21, 'uom': 'cm'}",A,NaN,NaT
6,655b4656c17d1176a3d5fa36,notebook,50.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",A,NaN,NaT
7,655b4656c17d1176a3d5fa37,paper,100.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",D,NaN,NaT
8,655b4656c17d1176a3d5fa38,planner,75.0,"{'h': 22.05, 'w': 30, 'uom': 'cm'}",D,NaN,NaT
9,655b4656c17d1176a3d5fa39,postcard,45.0,"{'h': 10, 'w': 15.25, 'uom': 'cm'}",A,NaN,NaT
10,655b4661c17d1176a3d5fa3a,journal,25.0,"{'h': 14, 'w': 21, 'uom': 'cm'}",A,NaN,NaT
11,655b4661c17d1176a3d5fa3b,notebook,50.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",A,NaN,NaT
12,655b4661c17d1176a3d5fa3c,paper,100.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",D,NaN,NaT
13,655b4661c17d1176a3d5fa3d,planner,75.0,"{'h': 22.05, 'w': 30, 'uom': 'cm'}",D,NaN,NaT
14,655b4661c17d1176a3d5fa3e,postcard,45.0,"{'h': 10, 'w': 15.25, 'uom': 'cm'}",A,NaN,NaT
15,655b468cc17d1176a3d5fa3f,journal,25.0,"{'h': 14, 'w': 21, 'uom': 'cm'}",A,NaN,NaT
16,655b468cc17d1176a3d5fa40,notebook,50.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",A,NaN,NaT
17,655b468cc17d1176a3d5fa41,paper,100.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",D,NaN,NaT
18,655b468cc17d1176a3d5fa42,planner,75.0,"{'h': 22.05, 'w': 30, 'uom': 'cm'}",D,NaN,NaT
19,655b468cc17d1176a3d5fa43,postcard,45.0,"{'h': 10, 'w': 15.25, 'uom': 'cm'}",A,NaN,NaT
20,655b4e85c17d1176a3d5fa45,canvas,100.0,"{'h': 28, 'w': 35.5, 'uom': 'cm'}",A,NaN,NaT
21,655b4e85c17d1176a3d5fa46,journal,25.0,"{'h': 14, 'w': 21, 'uom': 'cm'}",A,NaN,NaT
22,655b4e85c17d1176a3d5fa47,mat,85.0,"{'h': 27.9, 'w': 35.5, 'uom': 'cm'}",A,NaN,NaT
23,655b4e85c17d1176a3d5fa48,mousepad,25.0,"{'h': 19, 'w': 22.85, 'uom': 'cm'}",P,NaN,NaT
24,655b4e85c17d1176a3d5fa49,notebook,50.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",P,NaN,NaT
25,655b4e85c17d1176a3d5fa4a,paper,100.0,"{'h': 8.5, 'w': 11, 'uom': 'in'}",D,NaN,NaT
26,655b4e85c17d1176a3d5fa4b,Planner,75.0,"{'h': 22.85, 'w': 30, 'uom': 'cm'}",D,NaN,NaT
27,655b4e85c17d1176a3d5fa4c,postcard,45.0,"{'h': 10, 'w': 15.25, 'uom': 'cm'}",A,NaN,NaT
28,655b4e85c17d1176a3d5fa4d,sketchbook,80.0,"{'h': 14, 'w': 21, 'uom': 'cm'}",A,NaN,NaT
29,655b4e85c17d1176a3d5fa4e,sketchpad,95.0,"{'h': 22.85, 'w': 30.5, 'uom': 'm'}",P,NaN,2023-11-20 12:33:17.336